{% extends 'dashboard_base.html' %}


{% block body %}
    <div class="container-fluid">
        {#        <h3 class="text-dark mb-4">Team</h3>#}
        <div class="card shadow" style="height: 700px">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">Share Data for "{{ data_for }}"
                    <a href="{% url 'shareManager:show_share_history' %}" class="float-right text-info">
                        Show Tabular View</a>
                </p>
            </div>
            <div class="card-body" id="haha">
                <div class="chart-area" id="chart-1">
                    {{ output|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
