{% extends 'dashboard_base.html' %}
{% load share_template_tags %}

{% block body %}

    <div class="container-fluid">
        {#        <h3 class="text-dark mb-4">Team</h3>#}
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">Share Ledger</p>
            </div>
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 text-nowrap">
                            <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                <label>Show&nbsp;
                                    <select name="number_of_data_to_show"
                                            class="form-control form-control-sm custom-select custom-select-sm">
                                        <option value="25" selected="">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="200">200</option>
                                        <option value="400">400</option>
                                    </select>&nbsp;
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-right dataTables_filter" id="dataTable_filter">
                                <label>
                                    <input type="search" name="share_data_date" autocomplete="off"
                                           class="form-control form-control-sm"
                                           aria-controls="dataTable"
                                           placeholder="Company Name">
                                </label>

                                {#                                <label>#}
                                {#                                    <input name="search_by_date" class="form-control form-control-sm" type="date">#}
                                {#                                </label>#}

                                <input type="submit" class="btn-sm btn-primary" value="Filter">
                            </div>
                        </div>
                    </div>
                </form>
                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table dataTable my-0 table-hover table-bordered" id="dataTable">
                        <thead>
                        <tr class="table-info">
                            <th>#</th>
                            <th>Transaction Date</th>
                            <th>Company Name</th>
                            <th>No. of Shares</th>
                            <th>Per Unit Price</th>
                            <th>Total Amt.</th>
                            <th>Current Shares</th>
                            {#                            <th>Bought Price</th>#}
                            <th>Current Amt.</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% if user_share_values %}
                            {% for user_share_value in user_share_values %}
                                {% if user_share_value.share_company_number_of_shares_bought < 0 %}
                                    <tr class="table-danger">
                                        {% else %}
                                    <tr class="table-success">
                                {% endif %}
                            <td>{{ forloop.counter }}</td>
                            <td>{{ user_share_value.share_bought_date.date }}</td>
                            <td>{{ user_share_value.share_company_name.company_full_name }}</td>
                            <td>{{ user_share_value.share_company_number_of_shares_bought }}</td>
                            <td>{{ user_share_value.share_company_bought_per_unit_price }}</td>
                            <td>{{ user_share_value.share_company_bought_total_price }}</td>
                            <td>{{ user_share_value.current_share_count_ledger }}</td>
                            {#                            {% if user_share_value.current_share_amount_ledger < 0 %}#}
                            {#                                <td class="text-danger">{{ user_share_value.current_share_amount_ledger }}</td>#}
                            {#                            {% else %}#}
                            {#                                <td>{{ user_share_value.current_share_amount_ledger }}</td>#}
                            {#                            {% endif %}#}
                            <td>{{ user_share_value|get_current_price_filter:company_details_cache }}</td>

                            </tr>
                            {% endfor %}
                        {% else %}
                            <h3>No data found !</h3>
                        {% endif %}

                        </tbody>
                        <tfoot>
                        <tr class="table-info">
                            <th>#</th>
                            <th>Bought Date</th>
                            <th>Company Name</th>
                            <th>No. of Shares</th>
                            <th>Per Unit Price</th>
                            <th>Total Amt.</th>
                            <th>Current Shares</th>
                            {#                            <th>Bought Price</th>#}
                            <th>Current Amt.</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
                            Showing {{ num_of_data_to_show_per_page }} of {{ paginator.count }}
                        </p>
                    </div>
                    <div class="col-md-6">
                        <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                            <ul class="pagination">
                                <li class="page-item {% if current_page == 1 %}disabled{% endif %}">
                                    <a class="page-link"
                                       href="{% url 'shareManager:show_share_ledger' %}?page={{ current_page|add:-1 }}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">
                                            «
                                        </span>
                                    </a>
                                </li>
                                {% for i in paginator.page_range %}
                                    <li class="page-item {% if i == current_page %}active{% endif %}">
                                        <a class="page-link"
                                           href="{% url 'shareManager:show_share_ledger' %}?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% endfor %}
                                <li class="page-item {% if current_page == paginator.num_pages %}disabled{% endif %}">
                                    <a class="page-link"
                                       href="{% url 'shareManager:show_share_ledger' %}?page={{ current_page|add:1 }}"
                                       aria-label="Next">
                                    <span aria-hidden="true">
                                        »
                                    </span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
